*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body{
    background: url(background-5.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container{
    max-width: 1200px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .image, .accordion-menu{
    width: calc(50% - 20px);
  }
  
  .title{
    background-color: #e77f67;
    display: flex;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
  }
  
  .icon{
    position: relative;
    width: 14px;
  }
  
  .icon::before, .icon::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 3px;
    background-color: #fff;
    top: -1.5px;
  }
  
  .icon::after{
    transform: rotate(90deg);
    transition: .5s linear;
  }
  
  .text{
    background-color: #ffffff60;
    color: #fff;
    line-height: 26px;
    margin: 6px 0;
    opacity: 0;
    height: 0;
  }
  
  .item:target .text{
    height: auto;
    opacity: 1;
    padding: 20px;
    margin: 12px 0;
  }
  
  .item:target .icon::after{
    transform: rotate(0);
  }
  
  @media screen and (max-width:960px){
    .container{
      max-width: 600px;
    }
  
    .image, .accordion-menu{
      width: 100%;
      margin: 20px 0;
    }
  }

  .menu-icon{
    width: 50px;
    height: 50px;
    background: #2c3a47;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    z-index: 2;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
  }
  
  .menu-icon:hover{
    opacity: .9;
    transform: scale(1.1);
  }
  
  .navigation-menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3a47;
    top: 0;
    right: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s;
  }
  
  .navigation-menu nav{
    display: grid;
  }
  
  .navigation-menu li{
    margin: 20px 0;
    overflow: hidden;
  }
  
  .navigation-menu a{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    transform: translateY(40px);
  }
  
  .navigation-menu a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 15px;
    background: #fd7474;
    bottom: 0;
    left: 0;
    border-radius: 15px;
    z-index: -1;
    transition: .2s linear;
  }
  
  .navigation-menu a:hover::before{
    width: 100%;
  }
  
  p{
    max-width: 80%;
    margin: auto;
    padding: 40px 0;
    font-size: 18px;
    line-height: 1.4em;
    text-align: justify;
  }
  
  
  .menu-icon.active{
    background: #f1f1f1;
    color: #2c3a47;
  }
  
  .navigation-menu.active{
    right: 0;
  }
  
  .navigation-menu.active a{
    transform: translateY(0);
    transition: .6s linear;
  }
  
  .navigation-menu.active li:nth-child(1) a{
    transition-delay: .2s;
  }
  
  .navigation-menu.active li:nth-child(2) a{
    transition-delay: .4s;
  }
  
  .navigation-menu.active li:nth-child(3) a{
    transition-delay: .6s;
  }
  
  .navigation-menu.active li:nth-child(4) a{
    transition-delay: .8s;
  }
  
  .navigation-menu.active li:nth-child(5) a{
    transition-delay: 0.25s;
  }
  
  .navigation-menu.active li:nth-child(6) a{
    transition-delay: 0.5s;
  }
  
  .navigation-menu.active li:nth-child(7) a{
    transition-delay: 0.75s;
  }